* {
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  font-size: 1rem;
  padding: 0 1rem 1rem 1rem;
}

code,
.code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  background: #fafafa;
  color: #666;
  padding: 2px 4px;
  margin-bottom: 2px;
}

.container {
  max-width: 73rem;
  margin: 0 auto;
}

// Main content
.iconsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 6rem;

  .box {
    position: relative;
    width: 9rem;
    height: 9rem;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    margin: 0.4rem;
    will-change: transform, box-shadow;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
        0 1px 6px -1px rgba(0, 0, 0, 0.1);
      .buttons {
        opacity: 1;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
        transform: translateZ(0) translateY(0);
      }
      img {
        transform: translateZ(0) translateY(-1.3rem);
      }
    }
    img {
      cursor: pointer;
      width: 2.8rem !important;
      height: 2.8rem !important;
      transform: translateZ(0);
      will-change: transform;
      transition: transform 0.2s ease-in;
      &.loading {
        background-image: linear-gradient(
          to right,
          rgba(235, 235, 235, 1) 0%,
          rgba(240, 240, 240, 1) 54%,
          rgba(245, 245, 245, 1) 100%
        );
        border-radius: 0.6rem;
      }
    }
    .buttons {
      position: absolute;
      bottom: 0.4rem;
      display: flex;
      will-change: transform, opacity, visibility;
      opacity: 0;
      transform: translateZ(0) translateY(1.2rem);
      transition: transform 0.1s ease-in, opacity 0.1s ease-in;

      .button {
        background: rgba(10, 10, 10, 0.06);
        height: 2.2rem;
        margin: 0.3rem 0.2rem !important;
        border-radius: 0.6rem !important;
        font-size: 0.9rem !important;
      }
      .copy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.2rem;
        padding: 0;
        background: #a7fca8;

        svg {
          width: 0.9rem;
          height: 0.9rem;
          left: 0;
        }
      }
    }
  }
}

.text-muted {
  color: #999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 1rem;

  .logo {
    display: flex;
    flex-direction: row;
    font-size: 3.8rem !important;
    h1 {
      font-size: 3.8rem !important;
    }
    .labelStats {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ff0000;
      border-radius: 12px;
      color: #fff;
      height: 2rem;
      font-size: 0.8rem;
      padding: 0 0.4rem;
      margin-left: 1rem;
      strong {
        margin-right: 0.4rem;
      }
    }
  }
  .topBannerMessage {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 20px;
    border-bottom: 2px solid rgb(240, 240, 240);
    position: relative;
    padding: 2rem;
    text-align: center;

    &:after,
    &:before {
      content: " ";
      width: 0.8rem;
      height: 0.8rem;
      background: rgb(240, 240, 240);
      border-radius: 50%;
      position: absolute;
      bottom: -0.44rem;
    }
    &:after {
      left: 0;
    }
    &:before {
      right: 0;
    }
  }

  .socials {
    margin-top: 1rem;
    font-size: 0.9rem;
    a {
      text-decoration: none;
    }
    svg {
      fill: #333;
      width: 2rem;
      height: 2rem;
    }
  }
}

.hoverable {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
  &:hover {
    opacity: 0.65;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.1rem;
  border-radius: 1rem;
  background: #6cff55;
  color: #333;
  margin-left: 0.4rem;
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    left: -0.4rem;
  }
}

// Toolbar
.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  height: 6rem;
  padding-top: 0.6rem;
  width: 100%;
  z-index: 999999;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );

  &.stick .stickyLogo {
    display: flex;
    font-size: 1.6rem;
    position: relative;
    top: -0.2rem;
    span {
      margin-right: 0.6rem;
      font-size: 2.4rem;
    }
  }
  .button-green {
    text-decoration: none;
  }
  .stickyLogo {
    align-items: center;
    justify-content: center;
    height: 3.1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    display: none;
  }
  .searchPanel {
    position: relative;
    background: #efefef;
    border-radius: 1rem;
    height: 3.1rem;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;

    .selectPackType {
      border-right: 0.2rem solid rgba(0, 0, 0, 0.1);
      border-radius: 1rem 0 0 1rem;
    }
    .chooseSize {
      border-left: 0.2rem solid rgba(0, 0, 0, 0.1);
      border-radius: 0 1rem 1rem 0;
    }
    input {
      background: transparent;
      font-size: 1rem;
      padding: 0 0 0 0.8rem;
      flex: 1;
    }
    #submitSearchIcon {
      background: transparent;
      border: none;
      margin-right: 0.5rem;
      .searchIcon {
        width: 2rem;
        height: 2rem;
        * {
          fill: #575757;
        }
      }
    }
  }
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e2e2e2;
  border-radius: 12px;
  cursor: pointer;
  position: relative;

  .select-title {
    font-weight: 400;
    padding: 0 1rem;
    &:after {
      content: ": ";
    }
  }
  .select-value {
    font-size: 0.9rem;
    font-weight: 900;
    padding-right: 1rem;
    color: #0074d9;
    cursor: pointer;
  }
  .select-panel {
    position: absolute;
    top: calc(100% - 2rem);
    right: 0;
    left: 0;
    width: calc(100%);
    background: #fff;
    border: 1px solid #e4e4;
    border-radius: 0 0 0.6rem 0.6rem;
    padding-top: 2rem;
    box-shadow: 0 0 24rem 100rem rgba(0, 0, 0, 0.4);
    z-index: -1;
    will-change: transform, opacity, visibility;
    opacity: 0;
    max-height: 70vh;
    overflow: auto;
    min-width: 13rem;
    visibility: collapse;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in,
      visibility 0.2s ease-in;

    &.visible {
      opacity: 1;
      visibility: visible;
      transform: translateZ(0) translateY(0);
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin: 0;
        font-size: 0.9rem;
        border-bottom: 1px solid rgba(58, 58, 58, 0.1);
        padding: 0.9rem;
        &:last-child {
          border-bottom: none;
        }
        &.selected {
          &:before {
            content: "✅";
          }
        }
      }
    }
  }
  svg {
    position: relative;
    left: -0.6rem;
    bottom: -0.1rem;
    * {
      stroke: #888;
    }
  }
}

// Back to top
.backToTop {
  background: #f6f6f6;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  will-change: opacity, transforn;
  &.visible {
    opacity: 1;
    transform: scale(1);
  }
}

// Nothing message
.nothing-found {
  display: none;
  margin: auto 2%;

  &.visible {
    display: block;
  }
  h3 {
    margin-bottom: 1rem;
  }
  svg {
    margin-right: 0.8rem;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    bottom: -0.4rem;
  }
}

// Text copy notif
.text-copied {
  background: rgba(0, 0, 0, 0.74);
  color: #fff;
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0.9) translateY(0.8rem);
  will-change: opacity, transforn;
  z-index: 99999999999;
  &.visible {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  svg {
    margin-right: 0.8rem;
  }
}
#copy-text {
  z-index: -1;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 1px;
  height: 1px;
  background: transparent;
  border: none;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 999999;
  padding: 0.6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.visible {
    display: flex;
  }
  .modal-close {
    float: right;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    width: 95%;
    .icon-largeIcon {
      flex: 0 0 35%;
      .icon-holder {
        position: relative;
        width: 100%;
        height: 14rem;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
        border-radius: 0.8rem;
        will-change: transform, box-shadow;
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        svg {
          width: 9rem;
          height: 9rem;
        }

        &.gray svg {
          color: rgba(1, 1, 1, 0.64);
        }
        &.red {
          color: #ff4d4f;
        }
        &.green svg {
          color: #389e0d;
        }
        &.yellow svg {
          color: #fadb14;
        }
        &.cyan svg {
          color: #08979c;
        }
        &.magenta svg {
          color: #9e1068;
        }
        &.blue svg {
          color: #1890ff;
        }
        &.lime svg {
          color: #bae637;
        }
        &.volcano svg {
          color: #d4380d;
        }
      }
      .icon-colors {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .color {
          flex: 0 0 auto;
          border-radius: 50%;
          position: relative;
          width: 2.2rem;
          height: 2.2rem;
          cursor: pointer;
          margin: 1rem 0 0.6rem 0;
          transition: border-radius 0.3s ease-in-out;
          &:hover {
            border-radius: 0.6rem;
          }
          &.gray {
            background: rgba(1, 1, 1, 0.64);
          }
          &.red {
            background: #ff4d4f;
          }
          &.green {
            background: #389e0d;
          }
          &.yellow {
            background: #fadb14;
          }
          &.cyan {
            background: #08979c;
          }
          &.magenta {
            background: #9e1068;
          }
          &.blue {
            background: #1890ff;
          }
          &.lime {
            background: #bae637;
          }
          &.volcano {
            background: #d4380d;
          }
        }
      }
      .button-green {
        margin: 1rem 0 !important;
      }
    }

    .icons-info {
      padding: 1rem 4rem;
      width: 100%;
      .info-item {
        margin: 0.5rem 0;
        font-size: 1rem;
        font-weight: 600;
        span {
          font-weight: 300;
          margin-left: 0.4rem;
          color: #444;
          font-size: 0.9rem;
          &.keyword {
            border-radius: 0.8rem;
            background: #efefef;
            margin: 0.4rem 0.2rem;
            padding: 0.2rem 0.6rem;
          }
        }
      }

    }
    .icon-usage {
      position: relative;
      background: #fff;
      border-radius: 1rem;
      height: 2.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 0;
      margin: 0.6rem 0 ;
      border: 1px solid #efefef;

      .label {
        border-radius: 1rem 0 0 1rem;
        min-width: 7rem;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        background: rgba(239, 239, 239, 0.7);
        padding-left: 0.8rem;
      }
      input {
        background: transparent;
        font-size: 1rem;
        padding: 0 0.8rem;
        flex: 1;
        color: #666;
      }
    }
  }
}

.separator {
  width: 100%;
  border-top: 0.1rem solid #efefef;
  margin: 1rem 0;
}

img {
  max-height: 100%;
}

@media screen and (max-width: 662px) {
  .box {
    width: 7rem;
    height: 7rem;
  }
}

@media screen and (max-width: 540px) {
  .box {
    width: 5rem;
    height: 5rem;
  }
  .toolbar {
    flex-direction: column;
    .button-green {
      margin-top: 0.4rem;
      margin-left: 0 !important;
    }
  }
  .header .logo h1 {
    font-size: 2.4rem !important;
  }
}

@media screen and (max-width: 428px) {
  .box {
    width: 5rem;
    height: 5rem;
  }
  .header .topBannerMessage {
    font-size: 0.8rem;
  }
}
